* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: url("images/patt.png");
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: flex;
  margin: 0 -15px;
}
[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
  display: flex;
}
.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}
.col-9 {
  max-width: 75%;
  flex: 0 0 75%;
}
.header {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}
.menu {
  display: flex;
}
.menu li {
  width: 25%;
  border-left: 1px solid #2c71b8;
}
menu li:last-child {
  border-right: 1px solid #2c71b8;
}
.menu a {
  display: block;
  height: 50px;
  text-decoration: none;
  color: #2c71b8;
  text-align: center;
  line-height: 50px;
  font-size: 21px;
}
.menu a:hover {
  background-color: #2c71b8;
  color: white;
}
.menu-menu {
  background-color: #2c71b8;
  width: 290px;
  height: fit-content;
  color: white;
  visibility: hidden;
  position: absolute;
}
.menu-menu li {
  width: 100%;
  height: 40px;
}
.menu-menu > li > a {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 21px;
  color: white;
  display: flex;
  align-items: center;
}
.menu-menu > li:hover a {
  color: #2c71b8;
  background-color: white;
}

.menu > li:hover .menu-menu {
  visibility: visible;
  margin-left: -1px;
  z-index: 10;
}
.search-card {
  width: 100%;
  height: 100%;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-card {
  width: 100%;
  height: 100%;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  border: 1px solid#2c71b8;
  background: transparent;
  height: 40px;
  width: 200px;
  font-size: 21px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
}
.search-input {
  width: 160px;
  padding-left: 15px;
  font-size: 21px;
  color: #2c71b8;
  outline: none;
  border: none;
  background: transparent;
}
.search-btn {
  height: 30px;
  width: 30px;
  background-color: #2c71b8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  outline: none;
  border: none;
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
::placeholder {
  font-size: 21px;
  color: #2c71b8;
  font-family: "Roboto", sans-serif;
}
.basket {
  width: 40px;
  height: 40px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/basket.png);
}
.device {
  width: 225px;
  height: 845px;
  border-right: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
}
.laptops {
  width: 1268px;
  height: 2320px;
  border-top: 1px solid white;
}
.home {
  font-size: 10px;
  color: #a7bbdc;
  margin-left: 10px;
}
.text {
  font-size: 25px;
  color: white;
  padding-top: 35px;
  margin-left: 10px;
}
.menu-2 {
  display: flex;
  margin-top: 35px;
}
.menu-2 li {
  width: 25%;
}
.menu-2 a {
  background-color: #2c71b8;
  color: white;
  display: block;
  width: 265px;
  height: 40px;
  text-decoration: none;
  line-height: 40px;
  font-size: 15px;
  border-color: white;
}
.menu-2 a:hover {
  background-color: white;
  color: #2c71b8;
  border: 1px solid white;
}
.sub-menu-2 {
  background-color: #2c71b8;
  width: 265px;
  height: fit-content;
  color: white;
  visibility: hidden;
  position: absolute;
}
.sub-menu-2 li {
  width: 100%;
  height: 40px;
}
.sub-menu-2 > li > a {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
}
.sub-menu-2 > li:hover a {
  background-color: white;
  color: #2c71b8;
}

.menu-2 > li:hover .sub-menu-2 {
  visibility: visible;
  margin-left: -1px;
  z-index: 10;
}
.img-1 {
  width: 270px;
  height: 180px;
  background-color: rgba(202, 219, 237, 0.65);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}
.all-1 {
  background-color: rgba(45, 113, 184, 0.75);
  width: 270px;
  height: 650px;
  border-color: white;
  margin: 15px;
}
.all-2 {
  background-color: rgba(45, 113, 184, 0.75);
  width: 270px;
  height: 650px;
  border-color: white;
  margin: 15px;
}
.all-3 {
  background-color: rgba(45, 113, 184, 0.75);
  width: 270px;
  height: 650px;
  border-color: white;
  margin: 15px;
}
.devise {
  color: white;
  font-size: 24px;
  height: 45px;
  line-height: 50px;
  margin-left: 10px;
}
.lor {
  color: white;
  height: 50px;
  padding: 10px;
}
#characteristic {
  height: 30px;
  color: white;
  padding: 10px;
}
.money {
  height: 100px;
  color: white;
  font-size: 35px;
  text-align: center;
  line-height: 100px;
}
.btn {
  height: 65px;
  width: 270px;
  margin-left: 30px;
  margin-top: 12px;
}
.more {
  height: 50px;
  width: 210px;
  background-color: #2c71b8;
  color: white;
  font-size: 16px;
  border-color: white;
}
.add {
  height: 50px;
  width: 210px;
  background-color: rgba(86, 141, 198, 0.65);
  color: white;
  font-size: 16px;
  border-color: white;
}
.basket-btn {
  position: relative;
  height: auto;
  width: auto;
  left: -45px;
  border: none;
  background: url(images/basket-2.png) no-repeat;
  align-items: center;
  justify-content: center;
  margin: 4px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.sqare {
  position: relative;
  height: 30px;
  width: 30px;
  top: -65px;
  right: -30px;
  border: 1px solid #2c71b8;
  background-color: rgba(202, 219, 237, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.sqare:hover {
  position: relative;
  height: 30px;
  width: 30px;
  top: -65px;
  right: -30px;
  border: 1px solid #2c71b8;
  background: url(images/square-hover.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #2c71b8;
}
.like {
  position: relative;
  height: 30px;
  width: 30px;
  top: -25px;
  right: 8px;
  border: 1px solid #2c71b8;
  display: flex;
  align-items: center;
  background-color: rgba(202, 219, 237, 0.65);
  justify-content: center;
  margin: 4px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.like:hover {
  position: relative;
  height: 30px;
  width: 30px;
  top: -25px;
  right: 8px;
  border: 1px solid #2c71b8;
  background: url(images/like-hover.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #2c71b8;
}
.img-2 {
  width: 270px;
  height: 180px;
  background-color: rgba(202, 219, 237, 0.65);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}
.img-3 {
  width: 270px;
  height: 180px;
  background-color: rgba(202, 219, 237, 0.65);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}
.row-1 {
  display: flex;
  flex-wrap: wrap;
}
.row-2 {
  display: flex;
}
.row-3 {
  display: flex;
}
.img-4 {
  width: 270px;
  height: 180px;
  background-color: rgba(202, 219, 237, 0.65);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}
.img-5 {
  width: 270px;
  height: 180px;
  background-color: rgba(202, 219, 237, 0.65);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}
.img-6 {
  width: 270px;
  height: 180px;
  background-color: rgba(202, 219, 237, 0.65);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}
.img-7 {
  width: 270px;
  height: 180px;
  background-color: rgba(202, 219, 237, 0.65);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}
.img-8 {
  width: 270px;
  height: 180px;
  background-color: rgba(202, 219, 237, 0.65);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}
.img-9 {
  width: 270px;
  height: 180px;
  background-color: rgba(202, 219, 237, 0.65);
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}
